:root{
    --color:#10cab7;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
@media (min-width: 768px){
    .container{
        width: 750px;
    }
    
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
    
}
@media (min-width: 1200px){
    .container{
        width: 1170px;  
}
}
.header{
    background-color: #eee;
}
.head{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
    
}
.header .container{
    margin: auto;
}
.logo{
    width: 35px;
    height: 25px;
    display: flex;
    justify-content: space-between;

}
.logo1{
    width: 5px;
    height: 25px;
    background-color: #222;
}
.logo2{
    width:25px ;
    height: 25px;
    border: 5px solid var(--color);
    border-radius: 50%;
}
.link{
    position: relative;
}
.link:hover .link1 span:nth-child(2) {
    width: 100%;
}
.link1{
    display: flex;
    flex-wrap: wrap;
    width: 35px;
    height: 25px;
    justify-content: end;
}
.link:hover .link2{
    display:grid;
}
.link1 span:first-child{
    width: 100%;
    height: 2px;
    background-color: #222;
}
.link1 span:last-child{
    width: 100%;
    height: 2px;
    background-color: #222;
}
.link1 span:nth-child(2){
    width: 60%;
    height: 2px;
    background-color: #222;
    transition: 0.3s;
}

    

.link2{
    display: grid;
    grid-template-columns:repeat(1, 1fr) ;
    width: 200px;
    background-color: #eee;
    position: absolute;
    right: 0;
    display: none;
    z-index: 1;
}
.link2 a{
    text-decoration: none;
    color: #777;
    font-size: 22px;
    font-weight: 300;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: padding-left 0.3s;
}
.link2 a:not(:last-child){
    border-bottom : 1px solid #777;
   
}
.link2 a:hover{
    padding-left: 15px;
    font-weight: 400;
}


.image{
    background-image: url(../images/silhouette-pine-trees-during-sunset-mexico-mexico-wallpaper-preview.jpg);
    background-size: cover;
    height:calc(100vh - 65px) ;
    position: relative;
} 
.image .image-h1-p{
    width: 300px;
    text-align: center;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.image .image-h1-p h1{
    color: var(--color);
    font-size: 46px;
    margin-bottom: 20px;
    font-weight: 800;
}
.image .image-h1-p p{
    color: #222;
    font-size: 18px;
    line-height: 1.3;
}
section .container{
    margin: 0 auto;
}
section{
    background-color: #eee;
}
section .col{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;
    padding-left:20px ;
    padding-top: 70px;
    padding-bottom: 70px;
}
section .col div{
    text-align: center;
}
section .col div span{
    color: var(--color);
}
section .col div h2{
    color: #222;
    font-size: 22px;
    font-weight: 700;
    margin: 35px;
}
section .col div p{
    color: #444;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
}

.Services  .container{
    margin: auto;
}
.Services  .Services-h3{
    text-align: center;
    font-size: 100px;
    margin: 0;
    font-weight: 900;
    color: #ddd;
}
@media(max-width:767px){
    .Services  .Services-h3{
        font-size: 60px;
    }
    .Services .Services-p{
        padding-top: 10px; 
    }
}
.Services .Services-p{
    text-align: center;
    font-size: 24px;
    margin-top: -35px;
    color: #444;
    font-weight: 600;
}
.icon{
    width: 60px;
    height: 60px;
    border: 20px solid var(--color);
    border-radius: 50%;
    border-top: 10px;
    border-bottom: 10px;
}
.Services .col{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;
    padding-left:20px ;
    padding-top: 70px;
    padding-bottom: 70px;
}
.Services .col h3{
    color: #222;
    font-size: 22px;
    font-weight: 700;
}
.Services .col p{
    color: #555;
    line-height: 1.5;
}
.cola{
    display: flex;
    gap: 10px;
}
.col3a img{
    width: 300px;
    height: 100%;
}
@media(max-width:1200px){
    .col3a{
        display: none;
    }
}
@media(max-width:787px){
    .col3a{
        display: block;
        padding-top: 20px;
    }
}

.img-after{
    width: 300px;
    height: 100%;
    position: relative;
}
.img-after::after{
    content: "";
    width: 130px;
    height: calc(100% + 80px);
    position: absolute;
    background-color: var(--color);
    top: -40px; 
    right: -50px; 
    z-index: -1;
}
.Portfolio{
    background-color: #eee;
    padding-top: 50px;
    padding-bottom: 50px;

}
.Portfolio .container{
    margin: auto;
}
.Portfolio h2{
    text-align: center;

}
.Portfolio  .Portfolio-h3{
    text-align: center;
    font-size: 100px;
    margin: 0;
    font-weight: 900;
    color: #ddd;
}
@media(max-width:767px){
    .Portfolio  .Portfolio-h3{
        font-size: 60px;
    }
    .Portfolio .Portfolio-p{
        padding-top: 10px; 
    }
}
.Portfolio .Portfolio-p{
    text-align: center;
    font-size: 24px;
    margin-top: -35px;
    color: #444;
    font-weight: 600;
} 
.Portfolio .col{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;
    padding-left:20px ;
    padding-right:20px ;
    padding-top: 70px;
    padding-bottom: 70px;
}
.Portfolio .col .col1 img{
    width: 100%;
    height: 250px;
}
.Portfolio .col h3{
    color: #222;
    font-size: 22px;
    font-weight: 700;
}
.Portfolio .col p{
    color: #555;
    line-height: 1.5;
}
.About .container{
    margin: auto;
}
.About  .About-h3{
    text-align: center;
    font-size: 100px;
    margin: 0;
    font-weight: 900;
    color: #ddd;
}
@media(max-width:767px){
    .About  .About-h3{
        font-size: 60px;
    }
    .About .About-p{
        padding-top: 10px; 
    }
}
.About .About-p{
    text-align: center;
    font-size: 24px;
    margin-top: -35px;
    color: #444;
    font-weight: 600;
}
.About .flex{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
    gap: 30px;
}

.About .flex img {
    width: 250px;
    height: 400px;
    position: relative;
    z-index: 2;
} 
.flex1 .ing-after{
    position: relative;
    margin: auto;
}
.flex1 .ing-after::after{
    content: "";
    background-color: #444;
    width: 100px;
    height: 480px;
    position: absolute;
    top: -40px;
    z-index: -1;
    left: -50px;
}

.flex1{
    position: relative;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.flex2{
    width: 50%;
    margin: auto;

}
.flex2 p:first-child{
    color: #222;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.flex2 p:last-child{
    color: #999;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.Contact{
    background-color: #eee;
    height: 639px;
}
.Contact .container{
    margin: auto;
}
.Contact  .Contact-h3{
    text-align: center;
    font-size: 100px;
    margin: 0;
    font-weight: 900;
    color: #ddd;
}
@media(max-width:767px){
    .Contact  .Contact-h3{
        font-size: 60px;
    }
    .Contact .Contact-p{
        padding-top: 10px; 
    }
}
.Contact .Contact-p{
    text-align: center;
    font-size: 24px;
    margin-top: -35px;
    color: #444;
    font-weight: 600;
}
.Contact .p{
    text-align: center;
    padding-top: 100px;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -3px;
    color: #313e3c;
    margin-bottom: 10px;
}
.Contact a{
    display: block;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    margin-top: 0px;
    text-decoration: none;
    color: var(--color);
}
@media(max-width:767px){
    .Contact a{
        font-size: 28px;
    }
}
.p-iconn{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.p-iconn span{
    background-color: var(--color);
    width: 20px;
    height: 20px;
    margin-bottom: auto;
    margin-top: auto;
    border:7px solid #313e3c;
}
.p-iconn p{
    font-size: 17px;
    font-weight: 500;
    color: #111;    
}
footer .container{
    margin: auto;
    text-align: center;
    
}
footer{
    background-color: rgb(61, 77, 92);
    height: 75px;
}
footer .container p{
    font-size: 19px;
    color: white;
    margin: 0;
    padding-top: 25px;
    font-weight: 300;
}
footer .container p span{
    color: var(--color);
}